<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148910332382-hbvgc218t5rvumrh5qksjflse1angf24.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148910332382-hbvgc218t5rvumrh5qksjflse1angf24</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>148910332382-ll1apj2gkec9gqio17c3a6nij810ndev.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCNlnmZQWtq49cwQ1QZmiq8rfiN-OLRZsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>148910332382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.baoflutter.bf422chat</string>
	<key>PROJECT_ID</key>
	<string>bf422chat</string>
	<key>STORAGE_BUCKET</key>
	<string>bf422chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148910332382:ios:4bb5c81ed90a0116b9a54f</string>
</dict>
</plist>